{% extends 'base.html' %}
{% block content %}
<form method="post" class="form-grid">
    {% csrf_token %}
    <div class="form-item">
        <label class="form-label" for="{{ form.name.id_for_label }}">Nombre</label>
    </div>
    <div class="form-item">
        {{ form.name }}
    </div>
    <div class="form-item">
        <label class="form-label" for="{{ form.rut.id_for_label }}">Rut</label>
    </div>
    <div class="form-item">
        {{ form.rut }}
    </div>
    <div class="form-item">
        <label class="form-label" for="{{ form.mistreats_animals.id_for_label }}">Maltrata animales</label>
    </div>
    <div class="form-item">
        {{ form.mistreats_animals }}
    </div>
    <div class="wrapper-submit-button">
        <input type="submit" value="Agregar">
    </div>
</form>
{% endblock %}