{% extends 'base.html' %}
{% block content %}
    <div class="person-detail-grid">
        <div class="person-detail-text">
            <p><strong>Nombre:</strong> {{ person.name }}</p>
            <p><strong>Rut:</strong> {{ person.rut }}</p>
            {% if person.mistreats_animals %}
                <p><strong>Maltrata Animales:</strong> Sí</p>
            {% else %}
            <p><strong>Maltrata Animales:</strong> No</p>
            {% endif %}
        </div>
        <div class=person-detail-buttons>
            <button class="button-margin" onclick="location.href = '/delete_person/{{person.id}}'">
                Eliminar
            </button>
            <button class="button-margin" onclick="location.href = '/update_person/{{person.id}}'">
                Editar
            </button>
        </div>
    </div>
{% endblock %}